<div class="container all-pieces">
  <a href="/obras/dibujos" class="col-sm-3 piece-tiles">  
  <div class="piece-overlay">
  </div>
    <%= image_tag @drawing.img.url  %>
    <p> DIBUJO </p>
  </a>

  <a href="/obras/performances"class="col-sm-3 piece-tiles">
    <div class="piece-overlay">
    </div>
    <p> PERFORMANCE </p>
    <%= image_tag @performance.img.url  %>
  </a>

  <a href="/obras/murales" class="col-sm-3 piece-tiles">
    <div class="piece-overlay">
    </div>
    <p> MURAL </p>
    <%= image_tag @mural.img.url  %>
  </a>

  <a href="/obras/pinturas" class="col-sm-3 piece-tiles">
  <div class="piece-overlay">
  </div>
    <p> PINTURA </p>
    <%= image_tag @painting.img.url  %>
  </a>
</div>

