<div class="wrapper">
  <div class="container all-pieces">
    <h1 class="item-title">Performance</h1>
     <div class= "piece-wrapper">
      <div id="pins" class="transitions-enabled">
        <% @performances.each do |performance| %>
        <div class="box">
          <div class="panel-heading" id="img-wrapper">
            <%= link_to performance.title, piece_path(performance.id), class:"project-overlay"  %>
            <%= image_tag(performance.photos.first.img.url(:medium))%>
          </div>
          <div class="panel-body">
            <p class="item-subtitle"> <%= performance.title %> </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


