<div class="wrapper">
  <div class="container all-projects">
    <h1>Proyectos</h1>
     <div class= "project-wrapper">
      <div id="pins" class="transitions-enabled">
        <% @projects.each do |project| %>
        <div class="box">
          <%= link_to project.title,project_path(project.id), class:"project-overlay"  %>
          <%= image_tag(project.photos.first.img.url(:medium))%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


