@import 'colors.scss';

.bio-pic{
  width: 100%;
}

.text-wrapper{
  background-color: $light-gray;
  opacity: 0.9;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 25px;
  p{
    font-size: 20px;
  }
}