@import 'colors.scss';
#item-wrapper{
  padding-top: 30px;
  background-color: $silver;
  height: 100%;
}
.carousel.slide{
  width: 100%;
  height: 550px;
}

.piece-img{
  margin: auto;
  max-height: 550px;
  width: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.piece-details{
  margin-top: 15px;
}
.tech-specs{
  height: auto;
  width: 33.3333%;
  >p{
    color: $light-gray;
  }
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

span.fa{
  margin-top: 275px;
}

.all-pieces{
  h1{
    color: $silver;
  }
}

.index-tiles-wrapper{
  background-color: $peach;
}

.outer {
  position: relative;
  width: 100%;
}

.outer.r4x3 {
  padding-top: 75%; /* "height" will be 3/4 of width */
}

/* inner container positioned absolutely and holds content */
.outer .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* example content */
.tiles{
  float: left;
  width: 33.333%;
  height: 50%;
  >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
  overflow: hidden;
  }
}

/* just for display purposes... */
.inner::after {
  content: attr(data-size);
  position: absolute;
  left:0;
  top: -1em;
}

.tiles-overlay{
  background-color: $coral; 
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  width: 33.333%;
  height: 50%;
  visibility: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; 
  p{
    color:white;
    font-size: 200%;
  }
}

#pieces-box{
  width: 250px;
  height: 250px;
  >img{
    border-radius: 50%;
  }
  >.piece-overlay{}
}

.piece-overlay{
  background-color: $coral; 
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  visibility: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; 
  font-size: 200%;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

.all-pieces{
  h1{
    color: $silver;
    text-align: center;
    font-size: 36px;
  }
}


.piece-wrapper{
  margin-top: 75px;
}
// .piece-overlay{
//     width: 100%;
//     height: 100%;
//     background: $peach; 
//     opacity: 0.75;
//     position: absolute;
//     z-index: 2;
//   }


