@import 'colors.scss';
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -60px;
}

.in-construction-wrapper{
  background: url("/assets/sites/en_construccion.jpg");
  height: 100%;
  background-size: cover;
}

.jumbotron.in-construction{
  background: transparent;
  transform: translateY(32.5%);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: #fff;
}

.overlay{ 
  width: 100%;
  height: 100%;
  background: black; 
  opacity: 0.30;
  position: absolute;
}

// .index-panel{
//   width: 100%;
//   height: 600px;
//   background-image: url("/assets/sites/el_arbol_el_aguila_los_cuerpos_desnudos.jpg");
//   background-position: center;
//   background-size: cover;
// }

.index-banner{
  position: relative;
  width: 100%;   /* desired width */
}
.index-banner:before{
  content: "";
  display: block;
  padding-top: 50%;  /* initial ratio of 1:1*/
  background-image: url("/assets/sites/main_pic.jpg");
  background-position: center;
  background-size: cover;
}



.index-tiles-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
}

.outer {
    position: relative;
    width: 100%;
}

.outer.r4x3 {
    padding-top: 75%; /* "height" will be 3/4 of width */
}

/* inner container positioned absolutely and holds content */
.outer .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* example content */
.tiles {
    float: left;
    border: 1px solid steelblue;
    width: 33.333%;
    height: 33.333%;
}

/* just for display purposes... */
.inner::after {
    content: attr(data-size);
    position: absolute;
    left:0;
    top: -1em;
}

.artist-statement{
  width: 100%;
  height: auto;
  background-color: $light-gray;
  padding: 50px 0 50px 0;
  .city{
    text-align: right;
    font-size: 4rem;
    color: $peach;
  }
  .statement{
    text-align: justify;
    font-size: 2.5rem;
  }
}

.contact-me{
  width: 100%;
  height: auto;
  background: url("/assets/sites/contact_me.jpg");
  background-size: cover;
  background-position: center;
}

.contact-me-overlay{
  width: 100%;
  height: auto;
  background: black; 
  opacity: 0.20;
  position: absolute;
}

.contact-me-form{
  margin-top: 50px;
  h3{
    color: $coral;
  }
}

.navbar-media>div>i{
  font-size: 2.0rem;
  margin-top: 0.65rem;
  color: $coral;
}

.navbar-media>div{
  border: 0.3rem solid $silver;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  display:  inline-block;
}

footer{
  text-align: center;
  width: 100%;
  bottom: 0;
  height: auto;
  border-top: 0.3rem solid $coral;
  background-color: $light-gray;
  p#footer-sign{
  color: #777;
  margin-top: 2.8rem;
  width: 100%;
  font-weight: bold;
  }; 
  a:hover{
    text-decoration: none;
  };
  ul{
    list-style-type: none;
  }
  .footer-links{
    text-align: left;
    padding-top: 2rem;
    >div>ul{
      >a{
        color: $dark-gray;
        padding-right: 1.5rem;
      };
      >a:hover{
        color: #bbb;
      }
    }
  }
}



