@import 'colors.scss';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("/assets/sites/main_pic.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{
  background-color: #fff;
}
.scrollup {
  width: 3em;
  height: 3em;
  opacity: 0.5;
  position: fixed;
  bottom: 5em;
  right: 100px;  
  display: none;
  text-indent: -9999px;
  background: url('sites/icon_top.png') no-repeat;
  background-size: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.jumbotron.in-construction{
  background: transparent;
  transform: translateY(50%);
  position: relative;
  width: 100%;
  z-index: 999;
  color: #fff;
}

.overlay{ 
  width: 100%;
  height: 100%;
  background: black; 
  opacity: 0.30;
  position: absolute;
  z-index: 2;
}

.index-banner{
  position: relative;
  width: 100%;   /* desired width */  
  height: 100%;
  padding-bottom: 40%;
  text-align: center;
   .main-content{
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    color: white;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
    overflow: auto;
    z-index: 3;
    >h1{
        color: $light-gray;
        
      }
    >#more-about-me{
      height: 50px;
      width: 200px;
      border: 3px solid $peach;
      color: #fff;
      padding: 13px;
      text-align: center;
      letter-spacing: 1.5px;
      display: inline-block;
      margin-top: 5%;
      &:hover{
        border: 3px solid $peach;
        background-color: $coral;
        text-decoration: none;
      }
      &:hover, &:active{
        text-decoration: none;
      }
    }
  }
}
.artist-statement{
  width: 100%;
  height: auto;
  background-color: $light-gray;
  padding: 50px 0 50px 0;
  .city{
    text-align: right;
    font-size: 4rem;
    color: $peach;
  }
  .statement{
    text-align: justify;
    font-size: 2.5rem;
  }
}

.index-tiles-wrapper{
  background-color: $peach;
}

.outer {
  position: relative;
  width: 100%;
}

.outer.r4x3 {
  padding-top: 75%; /* "height" will be 3/4 of width */
}

/* inner container positioned absolutely and holds content */
.outer .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* example content */
.tiles{
  float: left;
  width: 33.333%;
  height: 33.333%;
  >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
  overflow: hidden;
  }
}

/* just for display purposes... */
.inner::after {
  content: attr(data-size);
  position: absolute;
  left:0;
  top: -1em;
}

.tiles-overlay{
  background-color: $coral; 
  opacity: 0.9;
  position: absolute;
  z-index: 2;
  width: 33.333%;
  height: 33.333%;
  visibility: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; 
  p{
    color:white;
    font-size: 200%;
  }
}

.contact-me{
  width: 100%;
  height: auto;
  text-align: center;
}

.contact-me-overlay{
  width: 100%;
  height: auto;
  background: black; 
  opacity: 0.20;
  position: absolute;
}

.contact-me-form{
  margin-top: 2em;
  color: $light-gray;
  p.say-hi{
    font-size: 3em;
    text-align: left;
  }
  .contact-input{
    opacity: 0.7;
  }
  textarea.form-control.contact-input{
    height: 200px;
  }
}

.contact-me-info{
  color: $light-gray;
  height: 100%;
  text-align: center;
  p{
    font-size: 2em;
  }
}

.submit-btn.msg{
  height: 50px;
  width: 200px;
  border: 3px solid $peach;
  color: #fff;
  padding: 13px;
  text-align: center;
  letter-spacing: 1.5px;
  display: inline-block;
  margin: 1em 0 3em 0;
  &:hover{
    border: 3px solid $peach;
    background-color: $coral;
    color: $light-gray;
    text-decoration: none;
  }
  &:hover, &:active{
    text-decoration: none;
  }
}

.navbar-media>div>i{
  font-size: 2.0rem;
  margin-top: 0.6rem;
  color: $coral;
}

.navbar-media>div{
  border: 0.3rem solid $silver;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  display:  inline-block;
}

footer{
  text-align: center;
  width: 100%;
  bottom: 0;
  height: auto;
  border-top: 0.3rem solid $coral;
  background-color: $light-gray;
  p#footer-sign{
  color: #777;
  margin-top: 2.8rem;
  width: 100%;
  font-weight: bold;
  }; 
  a:hover{
    text-decoration: none;
  };
  ul{
    list-style-type: none;
  }

  .footer-links{
    text-align: left;
    padding-top: 2rem;
    >div>ul{
      >a{
        color: $dark-gray;
        padding-right: 1.5rem;
      };
      >a:hover{
        color: #bbb;
      }
    }
  }
}



