@import 'colors.scss';
.text-content{
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}

.texts-titles{
  background-color: $light-gray;
  >p a{
    color: #000;
  } 
}

.all-texts{
  background-color: $light-gray;
  opacity: 0.95;
}

.text{
  padding: 50px;
}

.wrapper.no-background{
  background-color: transparent;
}

