<div class="contact-me" id="contact-me">
  <div class="contact-me-overlay">
  </div>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 contact-me-form">
      <p class="say-hi">Di hola@gabrielaespla.com !<p>
      <input type="text" name="fname" class="form-control contact-input" placeholder="Nombre"><br>
      <input type="text" name="fname" class="form-control contact-input" placeholder="Email"><br>
      <textarea as="text" name="fname" class="form-control contact-input" placeholder="Escribe tu mensaje"></textarea><br>
    </div>
    <a class="submit-btn msg"> Enviar mensaje </a>
<!--     <div class="col-sm-12 contact-me-info">
      <p> hola@gabrielaespla.com </p>
    </div> -->
  </div>
</div>