<div class="contact-me">
  <div class="contact-me-overlay">
  </div>
  <div class="container">
    <div class="col-sm-6 contact-me-form">
      <h3>Nombre</h3>
      <input type="text" name="fname" class="form-control"><br>
      <h3>Email</h3>
      <input type="text" name="fname" class="form-control"><br>
      <h3>Mensaje</h3>
      <textarea as="text" name="fname" class="form-control"></textarea><br>
    </div>
  </div>
</div>