<div class="container">
  <%= image_tag("sites/bio.jpg", class:"bio-pic") %>

  <div class="text-wrapper">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor fringilla leo. Praesent tincidunt, leo sit amet vestibulum luctus, velit tellus maximus orci, sed pulvinar justo eros a mauris. Duis bibendum purus in massa luctus porttitor. Quisque imperdiet blandit semper. Duis in justo nec mi tempor euismod quis et diam. Duis mollis venenatis diam, quis tempus lorem suscipit vel. Suspendisse efficitur lorem ex, lobortis tempor odio iaculis eget. Sed risus nunc, vulputate eu nisi ac, vehicula pellentesque libero. Nunc dictum, dolor et gravida semper, quam risus auctor purus, in ornare urna mi non libero. Nulla at euismod dui.
    </p>

     <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor fringilla leo. Praesent tincidunt, leo sit amet vestibulum luctus, velit tellus maximus orci, sed pulvinar justo eros a mauris. Duis bibendum purus in massa luctus porttitor. Quisque imperdiet blandit semper. Duis in justo nec mi tempor euismod quis et diam. Duis mollis venenatis diam, quis tempus lorem suscipit vel. Suspendisse efficitur lorem ex, lobortis tempor odio iaculis eget. Sed risus nunc, vulputate eu nisi ac, vehicula pellentesque libero. Nunc dictum, dolor et gravida semper, quam risus auctor purus, in ornare urna mi non libero. Nulla at euismod dui.
    </p>
  </div>
</div>
  <%= render partial: 'sites/contact_me' %>