<div class="container">
  <%= image_tag("sites/bio.jpg", class:"bio-pic") %>

  <div class="text-wrapper">
    <p><strong>Artista plástica </strong></p>
    <p><strong>1990 -  Ciudad de Panamá</strong></p>
    <br>
    <p><strong>Universitarios</strong></p>
    <p>Maestra en artes plásticas <br>
    Universidad  Jorge Tadeo Lozano, Bogotá Colombia<br>
    2015
    </p>
    <br>
    <p><strong>Experiencia laboral</strong></p>
    <p><strong>2014</strong> Asistencia en montaje para la exposición del colectivo. bald girls  ‘chicas calvas’ constituido por   Xiao Lu, Li Xinmo y jiny Lan; curada por Juan Xu, artistas de Beijing, China. Feministas. Galería SantaFé, Bogotá Colombia.</p>
    <p><strong>2014</strong> 
    Asistencia en montaje para la exposición Selva Cosmopolítica, en la obra de Delcy Morelos ‘no es un rio, es la madre’, Universidad nacional de Colombia. Bogotá, Colombia.</p>
    <p><strong>2015</strong> Asistencia en montaje para la obra de Delcy Morelos ‘sombra terrestre’ en la fundación Gilberto Alzate Avendaño, Bogotá Colombia. </p>
    <br>

    <p><strong>Exposición colectiva</strong></p> 
    <p><strong>2013</strong> Salón Tollota volumen4, Bogotá, Colombia </p>
    <p><strong>2014</strong> Encuentro de Poéticas Sociales, Galería Neebex, Bogotá, Colombia </p>
    <p><strong>2014</strong> III Muestra de Performance: resignificando los espacios públicos de la localidad de Santa Fe. Fundación Waja, IDARTES, Bogotá, Colombia.</p>
    <p><strong>2015</strong> Estaciones, Habitaciones, Escapismos. Tesis-Universidad tadeo. Casa Negret. Bogotá, Colombia.</p>
    <p><strong>2015</strong> La Abstracción y el Espacio. Gabriela Esplá & David Joseph, galeria Arteconsult. Ciudad de Panamá, Panamá. </p>
    <p><strong>2015</strong> Crónicas de una visión –quinta entrega. Mateo Sariel galería. Ciudad de Panamá, Panamá. </p>
    <p><strong>2016</strong> GOGO – The Art Issue, fotografía moda, exposición colectiva. Jerónimo galería, Ciudad de Panamá. </p>

  </div>
</div>
<%= render partial: 'contact_forms/new' %>