<div class="index-banner"> 
<div class="overlay"></div>
<div class="main-content">
   <h1>Gabriela Esplá</h1>
   <h2>artista</h2>
   <a id="more-about-me" href="#who-am-i"> Pintar como una excusa </a>
</div>
 
  <!-- <div class="content"></div>  -->
</div>

<div class="artist-statement" id="who-am-i">
  <div class="container">
    <p class="city"> Ciudad de Panamá 1990. </p>
    <p class="statement">
      Artista plástica formada en Bogotá, Colombia. Reside actualmente en la Ciudad de Panamá. Interesada en explorar la abstracción de las formas determinadas por los códigos sociales, la concepción de la selva en el imaginario de los Panameños y la necesidad de resolver las cuestiones ontológicas (de dónde venimos, quiénes somos, a dónde vamos) todo esto traducido a un ensayo de pintura de gran formato con contraste de colores.
    <p>
  </div>
</div>

<%= render partial: 'sites/all_items' %>

<%= render partial: 'sites/contact_me' %>