<div class="index-banner"> 
  <div class="overlay"></div>
  <div class="main-content">
     <h1>Gabriela Esplá</h1>
     <h2>artista</h2>
     <a id="more-about-me" href="#who-am-i"> Entrar </a>
  </div>
   
    <!-- <div class="content"></div>  -->
</div>

<div class="artist-statement" id="who-am-i">
  <div class="container">
    <p class="city"> Artista plástica<br>1990 -  Ciudad de Panamá </p>
    <p class="statement">
      El arte se define aparentemente cómo un pensamiento difícil de traducir y ese es el ensayo al que se apunta ésta obra.
      En el oficio está implicado el azar y  el movimiento que atraviesa el cuerpo. Una búsqueda estética de destrucción del limite con superposición de colores.
      Esplá explora la forma y abstracciones, traducida en una pintura gran formato, que se desdibuja a si misma y a partir de ahí crece.
    <p>
  </div>
</div>

<%= render partial: 'sites/all_items' %>

<%= render partial: 'contact_forms/new' %>