<footer>  
  <div class="container">
    <div class="row footer-links">
      <div class="col-sm-8">
        <ul>
          <a>Proyectos</a>
          <a>Obras</a>
          <a>Textos</a>
          <a>Contáctame</a>          
        </ul>
      </div>
    <br>
  </div>
    <p class="col-sm-12" id="footer-sign"> <a href="https://alexandrachen.com/" target="_blank"> AC </a>| 2016 </p>
  
</footer>

