<footer>  
  <div class="container">
    <div class="row footer-links">
      <div class="col-sm-8">
        <ul>
          <a>Proyectos</a>
          <a>Obras</a>
          <a>Textos</a>
          <a>Contáctame</a>          
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-2">
        <a href="#" target="_blank" class="navbar-media">
          <div><i class="fa fa-instagram"></i></div>
        </a>
        <a href="#" target="_blank" class="navbar-media">
          <div><i class="fa fa-facebook"></i></div>
        </a>
        <a href="#" target="_blank" class="navbar-media">
          <div><i class="fa fa-twitter"></i></div>
        </a>
      </div>
    <br>
  </div>
    <p class="col-sm-12" id="footer-sign"> <a href="https://alexandrachen.com/" target="_blank"> AC </a>| 2016 </p>
  
</footer>

